
.hight-10 {
    height: 10%;
  }

.hight-80 {
    height: 80%;
  }

.hight-80 {
    margin-bottom: 15rem;
    }

td{
  font-size: 12px;
}
.w-90 {
  width: 90%;
}
.margin-auto {
  margin: auto;
}


.whith-2 {
  width: 2rem;
}

.ofusqued-item {
  display: none;
}


.scrollable-table {

  height: 20em;
  line-height: 1em;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid;
  margin-left: -1.25%;
  margin-top: 1%;
  margin-bottom: 1%;

}

.scrollable-body {

  height: 25%;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid;
  margin-bottom: 50%;
}