.btn-link{
  background-color: rgb(102, 253, 167);
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 18px;
  color: black;
}

.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: auto;
  width: 30px;
  height: 30px;
  border: 2px solid #333; /* Puedes ajustar el grosor y el color del borde según tus preferencias */
  border-radius: 3px; /* Puedes ajustar el radio de borde para darle esquinas redondeadas */
}

.custom-checkbox:checked {
  background-color: #4CAF50; /* Puedes cambiar el color de fondo cuando el checkbox está marcado */
}

.font-28 {
  font-size: 28px;
  line-height: 2px;
}

.hight-10 {
    height: 10%;
  }

.hight-80 {
    height: 80%;
  }

.hight-80 {
    margin-bottom: 15rem;
    }

td{
  font-size: 12px;
}
.w-90 {
  width: 90rem;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.margin-auto {
  margin: auto;
}

.flex-g-0 {
  flex-grow: 0;
}
.whith-2 {
  width: 2rem;
}

.ofusqued-item {
  display: none;
}

.card-warning {
  background-color: rgb(230, 241, 128);
  border-radius: 10px;
}

.card-green {
  background-color: rgb(54, 247, 137);
  border-radius: 10px;
}


.scrollable-table {

  height: 20em;
  line-height: 1em;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid;
  margin-left: -1.25%;
  margin-top: 1%;
  margin-bottom: 1%;

}

.scrollable-body {

  height: 25%;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid;
  margin-bottom: 50%;
}

td {
  font-size: 1rem;
}

.link-menu {
  width: 100%;
  padding: 5% 10%;
  z-index: 999;
}

.btn-secondary {
  background: #0f7a27e3;
  border-color: #0f7a265e;
}

.td-name {
  width: 35%;
}

.th-percent {
  min-width: 125px;
}


.form-control {
  border: 2px solid #0d6efd52;
}

.search-imput {
  width: 65%;
}

.logo-luque {
  height: 40px;
  padding-left: 2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
}

@media (max-width: 767.98px) {
  .sidebar {
      
      top: 8.53rem;
      padding: 0;
  }
}
  
.navbar {
  width: 100%;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

@media (min-width: 767.98px) {
  .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
  }
}

.sidebar .nav-link {
  border-width: 1px;
  padding: 10%;
  color: #333;
  border-bottom-color: #1c582a59;
  border-top-color: rgba(17, 204, 86, 0);
  border-right-color: rgba(17, 204, 86, 0);
  border-left-color: rgba(17, 204, 86, 0);
  border-style: solid;
}

.sidebar .nav-link.active {
  color: #0d6efd;
}
.by-alan {
  margin: auto;
}
input {
  width: 120px;
}
label {
  font-weight: bold;
}
.big-button {
  font-size: 1.3rem;
}

/* Aplicar estilos a las celdas de las columnas impares */
.table tr td:nth-child(odd) {
  background-color: #FFF; /* Celeste muy claro */
}

/* Aplicar estilos a las celdas de las columnas pares */
.table tr td:nth-child(even) {
  background-color: #e1edf3; /* Blanco */
}

/* Estilos comunes para todas las celdas */
.table td {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

.table-responsive {
  overflow-x: unset;
}

.navbar .dropdown-menu {
  right: 0;
  left: unset !important;
}