
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luque</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_styles.css' %}">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Luque</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Listas de precios</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                -->
            </ul>
        </div>
    </nav>

    <div class="w-90 margin-auto">
        <h1>Tabla Responsiva con Bootstrap</h1>
        <form method="post" action="{% url 'udate-xlsx-step1' %}">
            {% csrf_token %}
            
            <div class="scrollable-body my-5">
                {% for xlsx in listXlsx %}
                <div class="dropdown">
                    <button class="btn btn-secondary w-100" type="button" onclick="toggleDropdown('{{ forloop.counter }}')">
                        {{ xlsx.list_name }}
                    </button>
                    <ul id="dropdown-menu-{{ forloop.counter }}" class="ofusqued-item w-100">
                        <div class="scrollable-table">
                        <table class="table table-bordered scrollable-table">
                            <thead>
                              <tr>
                                <th class="text-center">Código</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Precio automático</th>
                                <th class="text-center">Aumento por porcentaje</th>
                                <th class="text-center">Precio manual</th>
                              </tr>
                            </thead>
                            
                        {% for artic in xlsx.artics %}
                        <!--<a class="dropdown-item" href="#">{{ artic }}</a>-->
                        
                            <tbody>
                                <tr>
                                <td class="text-center">{{ artic.code }}</td>
                                <td class="text-center">{{ artic.description }}</td>
                                <td class="justify-content-center">
                                    <input type="checkbox" name="price_auto_{{artic.code}}" value="true">
                                </td>
                                <td><div class="col"><div class="row justify-content-center"><h3>%</h3></div><div class="row"><input class="w-1" type="number" step="1" id="percent_{{artic.code}}" /></div></div></td>
                                <td>
                                    <div class="row">
                                        <!-- Columna 1: Mayorista -->
                                        <div class="col">
                                            <h3>Mayorista</h3>
                                            <input class="form-control" type="number" step="0.01" id="price_manual_{{artic.code}}_may" value="{{artic.priceMa}}" />
                                        </div>
                                
                                        <!-- Columna 2: Minorista -->
                                        <div class="col">
                                            <h3>Minorista</h3>
                                            <input class="width-2 form-control" type="number" step="0.01" id="price_manual_{{artic.code}}_min" value="{{artic.priceMi}}" />
                                        </div>
                                    </div>
                                </td>
                                </tr>
                            </tbody>
                        
                        
                        {% endfor %}
                        </table>
                    </ul>
                </div>
                {% endfor %}
            </div>
            <div class="text-center navbar-expand-lg navbar-light bg-light fixed-bottom justify-content-center align-items-center d-flex hight-15">
                <button class="btn btn-primary" type="submit">Siguiente</button>
              </div>
        </form>
    </div>

    <div class="text-center navbar-expand-lg navbar-light bg-light fixed-bottom justify-content-center align-items-center d-flex hight-10">
        <button class="btn btn-primary">Siguiente</button>
      </div>

    <footer class="tm-footer">
        <p>Echo por Alan Luque</p>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{%static 'js/script.js'%}"></script>
</body>
</html>