
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luque</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_styles.css' %}">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Luque</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Listas de precios</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                -->
            </ul>
        </div>
    </nav>

    <div class="w-90 margin-auto">
        <h1>Tabla Responsiva con Bootstrap</h1>
        <form method="post" action="{% url 'udate-xlsx-step2' %}">
            {% csrf_token %}
            
            <div class="scrollable-body my-5">
                {% for xlsx in listXlsx %}
                <div class="dropdown">
                    <button class="btn btn-secondary w-100" type="button" onclick="toggleDropdown('{{ forloop.counter }}')">
                        {{ xlsx.list_name }}
                    </button>
                    <ul id="dropdown-menu-{{ forloop.counter }}" class="ofusqued-item w-100">
                        <div class="text-center pt-2">
                            <div title="Aplica el mismo porcentaje a todos los articulo de un lista">
                                <label>Porcentaje a todo</label>
                                <input id="percentage_input_{{ forloop.counter }}" placeholder="Porcentaje" onkeyup="updatePercentage('{{ forloop.counter }}')">
                            </div>

                        </div>
                        <div class="scrollable-table">
                        <table class="table table-bordered scrollable-table" id="table_{{ forloop.counter }}">
                            <thead>
                              <tr>
                                <th class="text-center">Código</th>
                                <th class="text-center">Descripción</th>

                                <th class="text-center">Aumento por porcentaje</th>
                                <th class="text-center">Precio manual</th>
                              </tr>
                            </thead>
                            
                            {% for artic, form in xlsx.artics %}
                            
                            
                        
                            <tbody>
                                <tr>
                                    <input type="hidden" name="xlsx_id" value="{{ form.initial.xlsx_id }}" readonly>
                                <td class="font-size-1 text-center"><input type="text" name="code" value="{{ form.initial.code }}" readonly></td>
                                <td class="text-center">{{ artic.description }}</td>

                                <td>
                                    <div class="col justify-content-center">
                                        <label title="Utiliza el precio de la lista como base y le aplica el porcentaje" class="ml-5">Sobre lista</label>
                                        <input title="Utiliza el precio de la lista como base y le aplica el porcentaje" type="checkbox" name="percent_list" value="{{xlsx}}" onclick="handleCheckboxClick(this)" checked>

                                        <label title="Utiliza el precio del sistema ventas como base y le aplica el porcentaje" class="ml-5">Sobre sistema</label>
                                        <input title="Utiliza el precio del sistema ventas como base y le aplica el porcentaje" type="checkbox" name="percent_sistem" value="{{xlsx}}" onclick="handleCheckboxClick(this)" >
                                    </div>
                                    <div class="col text-center">
                                        <div class="row justify-content-center">
                                            <h3>%</h3>
                                        </div>
                                        <div title="Aumento o descuento por %. Si el numero es postivo hace un aumento y si es negatio hace un descuento" class="row justify-content-center">{{form.price_percent}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        
                                        <div class="col">
                                            <h3>Mayorista</h3>
                                            {{form.price_manual_may}}  
                                        </div>
                                
                                        
                                        <div class="col">
                                            <h3>Minorista</h3>
                                            {{form.price_manual_min}}   
                                        </div>
                                    </div>
                                </td>
                                
                                
                                </tr>
                            </tbody>
                        
                        
                        {% endfor %}
                        </table>
                        
                    </ul>
                </div>
                {% endfor %}
            </div>
            <div class="text-center navbar-expand-lg navbar-light bg-light fixed-bottom justify-content-center align-items-center d-flex hight-15">
                <button class="btn btn-primary" type="submit">Siguiente</button>
              </div>
        </form>
    </div>



    <footer class="tm-footer">
        <p>Echo por Alan Luque</p>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{%static 'js/script.js'%}"></script>
</body>
</html>